<h1>Editing designated_contact</h1>

<% form_for(@designated_contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @designated_contact %> |
<%= link_to 'Back', designated_contacts_path %>